

body {
    display: flex;
    justify-content: center;
    
    height: 100vh;
}

#grid-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 90vh;
}

.grid-square {
    width: 6%;
    aspect-ratio: 1/1;
    text-align: center;
    clear:both;
}

#settings-container {
    display: flex;
    justify-content: end;
    align-items: start;
}
